@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

body{
    font-family: 'Mulish', sans-serif;
    max-width: 1170px;
    margin: 0 auto;
}
/* nav bar starts here */

.nav-container{
    display: flex;
}
.nav-logo{
    display: flex;
    gap: 15px;
    width: 50%;
   margin-left: 0;
    align-items: center;
}
.nav-items a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    
}
.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
.nav-logo p{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
.spacial{
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}
.home-spacial{
    color: #FF5400;
}
/* nav bar ends here */



/* banner section starts here */

.banner{
    width: 1170px;
    margin: 50px auto 0;
    background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background: linear-gradient (180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    height: 500px;
    border-radius: 16px;
    object-fit: cover;
    position: relative;
}
.banner-text h1{
    padding: 105px 285px 315px 285px;
    color: rgba(255, 255, 255, 1);
    font-size: 64px;
    font-weight: 800;
    position: absolute;
    width: 600px;
    height: 80px;
    }
.banner-text h4{
    padding: 210px 245px 240px 245px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    position: absolute;
    width: 675px;
    height: 50px;
}
.banner-form{
 padding: 310px 185px 105px 185px;
 display: inline-flex;
 gap: 25px;
 align-items: flex-start;
 margin-top: 50px;
}
 .banner-form > input{
    width: 175px;
    height: 50px;
    border-radius: 10px;
 }   
   
/* banner section ends here */

/* our popular tour section starts here */

.our-populer-tour{
    display: flex;
    margin-top: 100px;
    gap: 90px;
    height: 540px;
}
.our-populer-tour-text h1{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
 
}
.our-populer-tour-text p{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.button{
    width: 174px;
    height: 52px;
    background-color: #FF5400;
    border-radius: 8px;
}
.button p{
    text-align: center;
    color: #FFF;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    padding-top: 10px;
}
/* our popular tour section ends here */

/* choose your destination section starts here */

.choose-your-destination{
    max-width: 1170px;
    margin-top: 100px;
    border: 2px solid red;
}
.choose-your-destination-text h1{
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    text-align: center;

}

.choose-your-destination-text p{
     color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 642px;
    height: 52px;
    text-align: center;
    margin-left: 270px;
}
.first-two-images{
    display: flex;
    gap: 24px;
    height: 300px;
    width: 573px;
    object-fit: cover;
}


/* choose your destination section ends here */

/* newsletter section starts here */
.newsletter{
    display: flex;
    border: 2px solid red;
    height: 500px;
}


.newsletter-text{
    border: 2px solid black;
    width: 40%;
    height: 500px;
}
.newsletter-image{
    width: 60%;
    height: 500px;
    border: 2px solid orange;
}
    .input{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 50px;
}
/* newsletter section ends here */


/* footer section starts here */
.footer-text{
    display: flex;
    gap: 15px;
    width: 50%;
   margin-left: 450px;
 align-items: center;
}
.footer-container{
    border: 2px solid red;
}
.footer-text h4{
    color: #131318;
    font-size: 30px;
    font-weight: 800;
}
.sp{
    color: #FF5400;
    font-size: 30px;
    font-weight: 800;
}
.footer-container p{
    color: #131318;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.social-icon{
    border: 2px solid black;
    height: 80px;
}
/* footer section starts here */